<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Administrator Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <img alt="Admin Image" class="user-image"
                 height="200px" th:if="${administrator.imageName}"
                 th:src="@{'/showImages/' + ${administrator.imageName}}" width="200px">
        </div>
        <div class="col-md-8 user-details">
            <h2 th:text="${administrator.firstName + ' ' + administrator.lastName}">Admin Name</h2>
            <div class="user-details-container">
                <p><strong>Age:</strong> <span th:text="${administrator.age}">30</span></p>
                <p><strong>Gender:</strong> <span th:text="${administrator.gender}">Male/Female</span></p>
                <p><strong>Email:</strong> <span th:text="${administrator.email}">admin@example.com</span></p>
            </div>
            <a class="btn btn-primary" th:href="@{'/updateFormAdmin/' + ${administrator.id}}">Update</a>
        </div>
    </div>

    <div class="manage-section">
        <h3>Manage:</h3>
        <div class="row manage-buttons">
            <div class="col-md-2">
                <a class="btn btn-outline-primary btn-block" href="#">Course</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-primary btn-block" href="#">Faculty</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-primary btn-block" href="#">Group</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-primary btn-block" href="#">Lecture</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-primary btn-block" href="#">Student</a>
            </div>
            <div class="col-md-2">
                <a class="btn btn-outline-primary btn-block" href="#">Teacher</a>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script crossorigin="anonymous"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
</div>
</body>
</html>


