<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Course</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
    <th:block th:include="fragments/scripts-for-page"></th:block>

</head>
<body>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2 th:text="${course.name}">Course Name</h2>
        </div>
    </div>
    <div>
        <h5>Lectures:</h5>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture : ${lectures}">
            <td th:text="${lecture.id}"></td>
            <td>
                <a th:href="@{/general/lecture/showLecture(id=${lecture.id})}" th:text="${lecture.name}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li th:class="${pageNumber != null and i == pageNumber ? 'page-item active' : 'page-item'}"
                th:each="i : ${#numbers.sequence(0, pageNumber != null ? totalPages - 1 : 0)}">
                <a class="page-link"
                   th:href="@{/general/lecture/listLecturesByCourse/{courseId}(courseId=${course.id}, pageNumber=${i})}"
                   th:text="${i + 1}"></a>
            </li>
        </ul>
    </nav>
</div>

</body>
</html>
