<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Group Page</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div style="text-align: right; padding-right: 5%;">
    <a class="btn btn-success" th:href="@{/}">Go to Home</a>
  </div>
</head>

<body>

<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <h2 class="card-title">Group Lectures</h2>
    </div>
    <div class="card-body">

      <form th:action="@{/group/showLectures}" method="get">
        <div class="form-group">
          <label for="groupId">Group ID</label>
          <input type="text" class="form-control" id="groupId" name="groupId" required>
        </div>
        <div class="form-group">
          <label for="firstDate">Start Date and Time</label>
          <input type="datetime-local" class="form-control" id="firstDate" name="firstDate" required>
        </div>
        <div class="form-group">
          <label for="secondDate">End Date and Time</label>
          <input type="datetime-local" class="form-control" id="secondDate" name="secondDate" required>
        </div>
        <button type="submit" class="btn btn-primary">Show Lectures</button>
      </form>

      <h3 class="mt-4">Lectures</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="lecture : ${lectures}">
          <td th:text="${lecture.id}"></td>
          <td th:text="${lecture.name}"></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEX/4Jz2Cpahr+nTn9eEv0f25HAku1xL12/JM"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4S5lO8Eoc3HAHRgM6Qq1OY72FPS3PFF"
        crossorigin="anonymous"></script>
</body>
</html>