<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Main page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <th:block th:include="fragments/scripts-for-page"></th:block>
</head>

<body>

<div class="container mt-4">
    <h2 class="text-center mx-auto">Main Page</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administrator</h5>
                    <p class="card-text">Manage administrators, courses, faculties, groups, lectures, students, and
                        teachers.</p>
                    <a class="btn btn-primary" th:href="@{/adminAuthorization}">Go to Admin</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Student</h5>
                    <p class="card-text">View lectures for a student between two dates.</p>
                    <a class="btn btn-primary" th:href="@{/studentAuthorization}">Go to Student</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Teacher</h5>
                    <p class="card-text">View lectures for a teacher between two dates.</p>
                    <a class="btn btn-primary" th:href="@{/teacherAuthorization}">Go to Teacher</a>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Maintainer</h5>
                    <p class="card-text">Access and manage maintainer details and tasks.</p>
                    <a class="btn btn-primary" th:href="@{/maintainerAuthorization}">Go to Maintainer</a>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>

