<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Lecture</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          rel="stylesheet">
    <th:block th:include="fragments/scripts-for-page"></th:block>

</head>
<body>

<div class="container mt-4">
    <div class="container">
        <h2>Lecture</h2>
        <div>
            <p><strong>Name:</strong> <span th:text="${lecture.name}"></span></p>
            <p><strong>Course:</strong> <a th:href="'/general/lecture/showCourse?id=' + ${lecture.course.id}"
                                           th:text="${lecture.course.name}"></a></p>
            <p><strong>Teacher:</strong> <a th:href="'/general/lecture/showTeacher?id=' + ${lecture.teacher.id}"
                                            th:text="${lecture.teacher.firstName + ' ' + lecture.teacher.lastName}"></a>
            </p>
            <p><strong>Description:</strong> <span th:text="${lecture.description}"></span></p>
            <p><strong>Date:</strong> <span th:text="${lecture.date}"></span></p>
        </div>
    </div>

    <div>
        <h5>Groups:</h5>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="group : ${groups}">
            <td th:text="${group.id}"></td>
            <td>
                <a th:href="@{/general/group/showGroup(id=${group.id})}" th:text="${group.name}"></a>
            </td>
        </tr>
        </tbody>
    </table>

    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            <li th:class="${pageNumber != null and i == pageNumber ? 'page-item active' : 'page-item'}"
                th:each="i : ${#numbers.sequence(0, pageNumber != null ? totalPages - 1 : 0)}">
                <a class="page-link"
                   th:href="@{/general/lecture/listGroupsByLecture/{lectureId}(lectureId=${lecture.id}, pageNumber=${i})}"
                   th:text="${i + 1}"></a>
            </li>
        </ul>
    </nav>
</div>
</div>

</body>
</html>
