<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Maintainer Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/app.css}"/>

    <div class="homeLink">
        <a class="btn btn-success" th:href="@{/}">Go to Home</a>
    </div>
    <th:block th:include="fragments/scripts-for-page"></th:block>

</head>

<body>
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Maintainer Management</h2>
        </div>
        <div class="container mt-4 border p-4">
            <div class="container">
                <a class="btn btn-success" th:href="@{/maintainer/manage/createFormMaintainer}">Create Maintainer</a>
            </div>
            <h2>Maintainer List</h2>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="maintainer : ${maintainers}">
                    <td th:text="${maintainer.id}"></td>
                    <td>
                        <a th:href="@{/showMaintainer(id=${maintainer.id})}"
                           th:text="${maintainer.firstName + ' ' + maintainer.lastName}"></a>
                    </td>
                    <td>
                        <img alt="Admin Image" class="img-thumbnail" style="max-width: 100px; max-height: 100px;"
                             th:src="@{/showImages/{imageName}(imageName=${maintainer.imageName})}">
                    </td>
                    <td>
                        <form method="post" onsubmit="return confirm('Are you sure you want to delete?')"
                              th:action="@{/deleteMaintainer/{id}(id=${maintainer.id})}">
                            <input name="_method" type="hidden" value="put"/>
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                        <a class="btn btn-success"
                           th:href="@{/updateFormMaintainer/{id}(id=${maintainer.id})}">Update</a>
                    </td>
                </tr>
                </tbody>
            </table>

            <div class="container mt-3">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        <li th:class="${pageNumber != null and i == pageNumber ? 'page-item active' : 'page-item'}"
                            th:each="i : ${#numbers.sequence(0, pageNumber != null ? totalPages - 1 : 0)}">
                            <a class="page-link" th:href="@{/listMaintainers(pageNumber=${i})}" th:text="${i + 1}"></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

</body>
</html>