<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Authorization</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <th:block th:include="fragments/scripts-for-page"></th:block>

</head>
<body>

<div class="container mt-5">
    <h2>Admin Authorization</h2>
    <form method="get" th:action="@{/showAdmin}">
        <div class="form-group">
            <label for="id">Admin ID:</label>
            <input class="form-control" id="id" name="id" placeholder="Enter Admin ID" type="text">
        </div>
        <button class="btn btn-primary" type="submit">View Admin</button>
    </form>
</div>

</body>
</html>
