<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Teacher Page</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
</head>
<body>

<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Teacher Dashboard</h2>
        </div>
        <div class="card-body">

            <form method="get" th:action="@{/teacher/showLectures}">
                <div class="form-group">
                    <label for="teacherId">Teacher ID</label>
                    <input class="form-control" id="teacherId" name="teacherId" required type="text">
                </div>
                <div class="form-group">
                    <label for="firstDate">Start Date and Time</label>
                    <input class="form-control" id="firstDate" name="firstDate" required type="datetime-local">
                </div>
                <div class="form-group">
                    <label for="secondDate">End Date and Time</label>
                    <input class="form-control" id="secondDate" name="secondDate" required type="datetime-local">
                </div>
                <button class="btn btn-primary" type="submit">Show Lectures</button>
            </form>

            <h3 class="mt-4">Lectures</h3>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="lecture : ${lectures}">
                    <td th:text="${lecture.id}"></td>
                    <td th:text="${lecture.name}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script crossorigin="anonymous"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEX/4Jz2Cpahr+nTn9eEv0f25HAku1xL12/JM"
        src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy4S5lO8Eoc3HAHRgM6Qq1OY72FPS3PFF"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

