<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Update Maintainer</title>
    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/app.css}"/>
    <th:block th:include="fragments/scripts-for-page"></th:block>

</head>
<body>
<div class="container mt-5">
    <h2>Update Maintainer</h2>
    <form enctype="multipart/form-data" method="post" th:action="@{'/updateMaintainer/' + ${maintainer.id}}">
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input class="form-control" id="firstName" name="firstName" required
                   th:value="${maintainer.firstName}" type="text">
        </div>

        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input class="form-control" id="lastName" name="lastName" required th:value="${maintainer.lastName}"
                   type="text">
        </div>

        <div class="form-group">
            <label>Gender:</label>
            <div class="form-check">
                <input class="form-check-input" id="male" name="gender" required
                       th:checked="${maintainer.gender == 'MALE'}"
                       type="radio" value="MALE">
                <label class="form-check-label" for="male">Male</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" id="female" name="gender" required
                       th:checked="${maintainer.gender == 'FEMALE'}"
                       type="radio" value="FEMALE">
                <label class="form-check-label" for="female">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="age">Birth Date:</label>
            <input class="form-control" id="age" name="age" required th:value="${maintainer.age}" type="number">
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            <input class="form-control" id="email" name="email" required th:value="${maintainer.email}" type="email">
        </div>

        <div class="form-group">
            <label for="image">Image(JPEG or PNG):</label>
            <input accept="image/*" class="form-control-file" id="image" name="image" type="file">
        </div>

        <button class="btn btn-primary" type="submit">Update</button>
    </form>
</div>

</body>
</html>
