.card-header {
    margin-bottom: 20px;
}

.container {
    margin-bottom: 20px;
}

.btn {
    margin-right: 5px;
    margin-bottom: 5px;
}

.user-image {
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .2);
}

.user-details {
    margin-top: 20px;
    padding: 20px;
    background: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1);
}

.user-details h2 {
    margin-bottom: 20px;
    color: #007bff;
}

.manage-section h2 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #343a40;
}

.manage-section h3 {
    margin-top: 40px;
    margin-bottom: 20px;
    color: #343a40;
}

.btn-outline-primary {
    margin: 5px 0;
}